/** FONTS**/


@font-face {
    font-family: 'montserratbold';
    src: url('../../Fonts/montserrat-bold-webfont.eot');
    src: url('../../Fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../Fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('../../Fonts/montserrat-bold-webfont.woff') format('woff'),
         url('../../Fonts/montserrat-bold-webfont.ttf') format('truetype'),
         url('../../Fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserratlight';
    src: url('../../Fonts/montserrat-light-webfont.eot');
    src: url('../../Fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../Fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('../../Fonts/montserrat-light-webfont.woff') format('woff'),
         url('../../Fonts/montserrat-light-webfont.ttf') format('truetype'),
         url('../../Fonts/montserrat-light-webfont.svg#montserratlight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserratregular';
    src: url('../../Fonts/montserrat-regular-webfont.eot');
    src: url('../../Fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../Fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../../Fonts/montserrat-regular-webfont.woff') format('woff'),
         url('../../Fonts/montserrat-regular-webfont.ttf') format('truetype'),
         url('../../Fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserratsemibold';
    src: url('../../Fonts/montserrat-semibold-webfont.eot');
    src: url('../../Fonts/montserrat-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../Fonts/montserrat-semibold-webfont.woff2') format('woff2'),
         url('../../Fonts/montserrat-semibold-webfont.woff') format('woff'),
         url('../../Fonts/montserrat-semibold-webfont.ttf') format('truetype'),
         url('../../Fonts/montserrat-semibold-webfont.svg#montserratsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserratextralight';
    src: url('../../Fonts/montserrat-extralight-webfont.eot');
    src: url('../../Fonts/montserrat-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../Fonts/montserrat-extralight-webfont.woff2') format('woff2'),
         url('../../Fonts/montserrat-extralight-webfont.woff') format('woff'),
         url('../../Fonts/montserrat-extralight-webfont.ttf') format('truetype'),
         url('../../Fonts/montserrat-extralight-webfont.svg#montserratextralight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserratthin';
    src: url('../../Fonts/montserrat-thin-webfont.eot');
    src: url('../../Fonts/montserrat-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../Fonts/montserrat-thin-webfont.woff2') format('woff2'),
         url('../../Fonts/montserrat-thin-webfont.woff') format('woff'),
         url('../../Fonts/montserrat-thin-webfont.ttf') format('truetype'),
         url('../../Fonts/montserrat-thin-webfont.svg#montserratthin') format('svg');
    font-weight: normal;
    font-style: normal;

}
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}

body {font-family: 'montserratlight', arial, sans-serif; max-width: 750px; margin: 0 auto; position: relative; }
#main {background: #f0f0f0 url('../../Images/bg.jpg') no-repeat center bottom; /*background-attachment: fixed;*/}
#map-canvas {min-height: 500px; width: 100%;}
.container {max-width: 750px; min-height: 500px; padding: 0; border: 1px solid #333;}
.rc-map-container {position: relative; opacity: 0;}
.rc-map-container .rc-zoom-in-snackbar {width: calc(100% - 240px); background: rgba(0,112,205,.85); display: block; padding: .5em 1em; text-align: center; color: #fff; font-family: 'montserratlight'; text-transform: uppercase; letter-spacing: .05em; border-radius: 3px; position: absolute; top: 3%; left: 3%; display: none;}
.rc-map-container .rc-sidebar-work-order-container {position: absolute; height: 94%; top: 3%; right: 3%;}
.rc-map-container .rc-sidebar {width: 165px; height: 100%; background: rgba(79,79,81, 1); color: #fff; text-align: center; padding: 1em; border-radius: 5px; margin-left: 8px; float: right;}
.rc-map-container .rc-sidebar h3 {font-size: 11px; text-transform: uppercase; font-family: 'montserratlight'; margin: 0 0}
.rc-map-container .rc-sidebar .rc-btn {background: none; border: 2px solid #fff; color: #fff; font-size: 10px; border-radius: 20px; margin: 1em 0 0; width: 100%; transition: all, 250ms, ease-in; }
.rc-map-container .rc-sidebar .rc-btn:hover {background: #3b3b3b;  }
.rc-map-container .rc-sidebar .rc-btn.rc-blue-btn {border-color: #00c5ff; color: #00c5ff;}
.rc-map-container .rc-sidebar .rc-btn.rc-blue-btn:hover {background-color: #3b3b3b;}
.rc-map-container .rc-sidebar .rc-btn.rc-green-btn {border-color: #4fb700; color: #4fb700; }
.rc-map-container .rc-sidebar .rc-btn.rc-green-btn:hover {background-color: #3b3b3b;  }
.rc-map-container .rc-sidebar .rc-btn.rc-orange-btn {border-color: #eea200; color: #eea200; }
.rc-map-container .rc-sidebar .rc-btn.rc-orange-btn:hover {background-color: #3b3b3b;  }
.rc-map-container .rc-sidebar .rc-btn .rc-count {float: right; font-size: 8px; line-height: 15px;}
.rc-map-container .rc-sidebar .rc-btn .rc-title-text {display: inline-block; width: auto; float: left; margin-left: .5em; }
.rc-map-container .rc-sidebar .rc-btn .rc-icon {display: block; width: 15px; height: 15px; float: left;}
.rc-map-container .rc-sidebar .rc-btn .rc-icon.rc-inspection-icon {background: url('../../Images/icon-inspection.png') no-repeat center center;}
.rc-map-container .rc-sidebar .rc-btn .rc-icon.rc-lawn-icon {background: url('../../Images/icon-lawn.png') no-repeat center center;}
.rc-map-container .rc-sidebar .rc-btn .rc-icon.rc-maintenance-icon {background: url('../../Images/icon-maintenance.png') no-repeat center center;}
.rc-map-container .rc-sidebar .rc-btn.rc-white-btn {margin: 0; text-transform: uppercase;}
.rc-map-container .rc-sidebar .rc-btn.rc-white-btn.rc-btn-icon-info {font-family: 'montserratthin'; font-size: 1.4em; padding: 0; line-height: 1em; width: 27px; height: 27px; text-align: center; float: left; }
.rc-map-container .rc-sidebar .rc-btn.rc-white-btn.rc-list-view-btn {max-width: 100px; margin-left: 5px; float: left; font-size: 8px; }
.rc-map-container .rc-sidebar .rc-btn.rc-filter-btn.rc-turned-off {-webkit-filter: grayscale(100%); filter: greyscale(100%); opacity: .3;}
.rc-map-container .rc-work-order-drawer {width: 165px; height: 100%; float: right;  background: #fff; border-radius: 5px; position: relative; display: none;}
.rc-map-container .rc-work-order-drawer .rc-row {margin: 0; font-size: 10px; padding: .5em 1em;}
.rc-map-container .rc-work-order-drawer .rc-row:nth-of-type(odd) {background:#eaeaeb; }
.rc-map-container .rc-work-order-drawer.rc-inspection .rc-row.rc-colored a {color:#00c5ff; }
.rc-map-container .rc-work-order-drawer.rc-maintenance .rc-row.rc-colored a {color:#eea200; }
.rc-map-container .rc-work-order-drawer.rc-lawn .rc-row.rc-colored a {color:#4fb700; }
.rc-map-container .rc-work-order-drawer .rc-row-label {font-family: 'montserratregular'; text-transform: uppercase;}
.rc-map-container .rc-work-order-drawer .rc-btn-primary {color:#00c5ff; border-color: #00c5ff; font-size: 10px; width: 90%; margin: 0 5%; padding: .5em 0; position: absolute; bottom: 1em; background: url('../../Images/arrow-white.png') no-repeat 90% center;  background-size: 10px 15px; }
.rc-map-container .rc-work-order-drawer .rc-btn-primary:hover {background-color: #3b3b3b; background-image: url('../../Images/arrow-white.png');}
.rc-map-container .rc-work-order-drawer.rc-inspection .rc-btn-primary.rc-blue-btn {border-color: #00c5ff; color: #00c5ff; background-image: url('../../Images/arrow-blue.png'); }
.rc-map-container .rc-work-order-drawer.rc-inspection .rc-btn-primary.rc-blue-btn:hover {background-color: #00c5ff; color: #fff; background-image: url('../../Images/arrow-white.png');}
.rc-map-container .rc-work-order-drawer.rc-maintenance .rc-btn-primary.rc-orange-btn {border-color: #eea200; color: #eea200; background-image: url('../../Images/arrow-orange.png');}
.rc-map-container .rc-work-order-drawer.rc-maintenance .rc-btn-primary.rc-orange-btn:hover {background-color: #eea200;  color: #fff; background-image: url('../../Images/arrow-white.png');}
.rc-map-container .rc-work-order-drawer.rc-lawn .rc-btn-primary.rc-green-btn {border-color: #4fb700; color: #4fb700;background-image: url('../../Images/arrow-green.png');}
.rc-map-container .rc-work-order-drawer.rc-lawn .rc-btn-primary.rc-green-btn:hover {background-color: #4fb700; color: #fff; background-image: url('../../Images/arrow-white.png');}
.rc-map-container .rc-work-order-drawer .rc-type-title {padding: .5em 1em; font-size: 10px; text-align: center; font-family: 'montserratsemibold';  color: #00c5ff; }
.rc-map-container .rc-work-order-drawer.rc-inspection .rc-type-title {color: #00c5ff;}
.rc-map-container .rc-work-order-drawer.rc-lawn .rc-type-title {color: #4fb700;}
.rc-map-container .rc-work-order-drawer.rc-maintenance .rc-type-title {color: #eea200;}
.rc-map-container .rc-work-order-drawer .rc-type-title .rc-icon {width: 15px; height: 15px; display: inline-block; background: url('../../Images/icon-inspection.png') no-repeat center center; margin-right: 5px; position: relative; top: 3px; }
.rc-map-container .rc-work-order-drawer.rc-inspection .rc-type-title .rc-icon {background-image: url('../../Images/icon-inspection.png'); }
.rc-map-container .rc-work-order-drawer.rc-lawn .rc-type-title .rc-icon {background-image: url('../../Images/icon-lawn.png');}
.rc-map-container .rc-work-order-drawer.rc-maintenance .rc-type-title .rc-icon {background-image: url('../../Images/icon-maintenance.png');}
.rc-map-container .rc-work-order-drawer .rc-work-order-close-btn {border: none; width: 15px; height: 15px; position: absolute; top: .5em; right: .5em; background: url('../../Images/close-blue.png') no-repeat center center; }
.rc-map-container .rc-work-order-drawer.rc-inspection .rc-work-order-close-btn {background-image: url('../../Images/close-blue.png'); }
.rc-map-container .rc-work-order-drawer.rc-lawn .rc-work-order-close-btn {background-image: url('../../Images/close-green.png'); }
.rc-map-container .rc-work-order-drawer.rc-maintenance .rc-work-order-close-btn {background-image: url('../../Images/close-orange.png'); }


.pac-container {z-index: 9999;/* margin-left: -346px; */ background: rgba(79,79,81, 1); color: #fff; border: 2px solid #fff; border-radius: 0 0 5px 5px; width: 242px !important;  position: fixed !important;}
.pac-container:after {display: none !important;}
.pac-item {color: #fff; font-family: 'montserratthin'; font-weight: 100;}
.pac-item:hover {color: #333; }
.pac-item .pac-icon-marker{ display: none;}
.pac-item .pac-item-query {color: #fff; font-family: 'montserratsemibold'; font-weight: 100;}
.pac-item:hover .pac-item-query {color: #333;}

.rc-info-content {font-family: 'montserratregular'; font-size: 10px;}
.rc-info-content .rc-infowindow-header {width: 100%; display: block; padding: .5em 1em; text-align: center; background: #00c5ff; color: #fff;}
.rc-info-content .rc-infowindow-header.rc-maintenance {background: #eea200;}
.rc-info-content .rc-infowindow-header.rc-lawn { background: #4fb700; }
.rc-info-content .rc-infowindow-header.rc-inspection {background: #00c5ff;}
.rc-info-content .rc-row {margin: 0; padding: .5em 1em;}
.rc-info-content .rc-row:nth-child(even) {background: #eaeaeb; }
.rc-info-content .rc-details-link {text-transform: uppercase; padding: .5em 1em; color:#00c5ff; }
.rc-info-content.rc-maintenance .rc-details-link a {color:#eea200; }
.rc-info-content.rc-lawn .rc-details-link a {color:#4fb700; }
.rc-info-content.rc-inspection .rc-details-link a {color: #00c5ff; }

.rc-infowindow-mobile {position: fixed; bottom: 0; width: 100%; background: url('../../Images/mobile-bg.jpg') no-repeat bottom center; display: none; }
.rc-infowindow-mobile .rc-info-content .rc-infowindow-header {font-size: 16px; font-weight: 100; font-family: 'montserratlight'; margin-bottom: 1em; position: relative; }
.rc-infowindow-mobile .rc-info-content .rc-infowindow-header .rc-close-button-mobileinfo {width: 22px; height: 23px; position: absolute; top: .5em; right: .5em; background: url('../../Images/close-white.png') no-repeat center center; background-size: 22px 23px; }
.rc-infowindow-mobile .rc-info-content .rc-infowindow-header .rc-icon {width: 25px; height: 25px; display: inline-block; margin-right: .5em; margin-left: -2em; position: absolute; top: 6px; background-size: 25px 25px !important;}
.rc-infowindow-mobile .rc-info-content .rc-infowindow-header .rc-icon.rc-maintenance-icon {background: url('../../Images/icon-maintenance-white-large.png') no-repeat center center; }
.rc-infowindow-mobile .rc-info-content .rc-infowindow-header .rc-icon.rc-lawn-icon {background: url('../../Images/icon-lawn-white-large.png') no-repeat center center; }
.rc-infowindow-mobile .rc-info-content .rc-infowindow-header .rc-icon.rc-inspection-icon {background: url('../../Images/icon-inspection-white-large.png') no-repeat center center; }
.rc-infowindow-mobile .rc-info-content .rc-row {color: #fff; text-shadow: 1px 1px 3px rgba(0,0,0,.8); font-size: 14px; padding: 0 1em; }
.rc-infowindow-mobile .rc-info-content .rc-row:nth-child(even) {background: none;}
.rc-infowindow-mobile .rc-info-content .rc-row:last-of-type {padding-bottom: 1em;}
.rc-infowindow-mobile .rc-info-content .rc-details-link {color: #fff; text-align: left; display: block; padding: 0; }
.rc-infowindow-mobile .rc-info-content .rc-details-link:after {content: ' >'; }

.rc-sidebar-location-search {margin-top: .75em;}
.rc-sidebar-location-search input[type="text"] {background: none; color: #fff; border: 1px solid #fff; border-radius: 20px; font-size: 10px; padding: .5em 1em; float: left; margin-right: 5px; max-width: 106px;}
.rc-sidebar-location-search .rc-btn-search-icon {width: 26px; height: 26px; display: block; float: left; border: 1px solid #fff; border-radius: 50%; background: url('../../Images/icon-search.png') no-repeat center center; text-indent: -9999px;}

.rc-sidebar.rc-mobile-only .rc-blue-bar {background: url('../../Images/mobile-bg.jpg') no-repeat bottom center;  float: left; width: 100%; box-shadow: 0px 0px 8px rgba(0,0,0,.8); position: relative; z-index: 1; padding: .5em; }
.rc-sidebar.rc-mobile-only .rc-blue-bar .rc-sidebar-location-search {margin-top: 1.5em; width: auto; float: left; width: 70%;}
.rc-sidebar.rc-mobile-only .rc-blue-bar .rc-sidebar-location-search input[type="text"] {border-radius: 3px; max-width: 80%; width: 100%; background: rgba(255,255,255,.3); border: none; }
.rc-sidebar.rc-mobile-only .rc-blue-bar .rc-sidebar-location-search .rc-btn-search-icon {border: none; float: right;}
.rc-sidebar.rc-mobile-only .rc-blue-bar .rc-list-view-info {float: left; width: 30%; margin-top: 1.5em;}
.rc-sidebar.rc-mobile-only .rc-blue-bar .rc-btn.rc-white-btn.rc-btn-icon-info {width: auto; height: auto; font-family: 'montserratregular'; margin: 0 .5em; }
.rc-sidebar.rc-mobile-only .rc-blue-bar .rc-btn.rc-white-btn.rc-list-view-btn {width: 23px; height: 23px; padding: 0; text-indent: -9999px;}
.rc-sidebar.rc-mobile-only .rc-blue-bar .rc-list-icon .rc-btn.rc-white-btn.rc-list-view-btn {background: url('../../Images/icon-list.png') no-repeat center center; background-size: 23px 23px;}
.rc-sidebar.rc-mobile-only .rc-blue-bar .rc-map-icon .rc-btn.rc-white-btn.rc-list-view-btn {background: url('../../Images/icon-map.png') no-repeat center center; background-size: 23px 23px;}

#list-view {height: 500px; overflow: scroll; margin-bottom: 1em; display: none; border-radius: 5px; position: relative;}
.rc-scroll-alert-bar { display: none; position: absolute; bottom: 0; width: calc(100% - 211px); border-radius: 3px; background: #4a4a4b; color: #fff; text-transform: uppercase; text-align: center; padding: .5em 1em; margin-left: 1em;}
.rc-list-view-container {padding: 1em; width: calc(100% - 185px); }
.rc-list-view-container .rc-property-info {width: 100%; background: #ebebeb; border-radius: 5px; margin-bottom: 1em;}
.rc-list-view-container .rc-property-info .rc-infowindow-header {background: #fff; border-radius: 5px 5px 0 0; text-align: center; color: #eea200; font-size: 10px; font-family: 'montserratregular'; font-weight: 100; padding: .5em 0 .75em; text-transform: capitalize;}
.rc-list-view-container .rc-property-info .rc-infowindow-header.rc-inspection { color: #00c5ff; }
.rc-list-view-container .rc-property-info .rc-infowindow-header.rc-lawn { color: #4fb700;}
.rc-list-view-container .rc-property-info .rc-infowindow-header.rc-maintenance {color: #eea200; }
.rc-list-view-container .rc-property-info .rc-infowindow-header .rc-icon {width: 15px; height: 15px; display: inline-block; background: url('../../Images/icon-inspection.png') no-repeat center center; margin-right: 5px; position: relative; top: 4px; }
.rc-list-view-container .rc-property-info .rc-infowindow-header.rc-inspection .rc-icon {background-image: url('../../Images/icon-inspection.png'); }
.rc-list-view-container .rc-property-info .rc-infowindow-header.rc-lawn .rc-icon {background-image: url('../../Images/icon-lawn.png');}
.rc-list-view-container .rc-property-info .rc-infowindow-header.rc-maintenance .rc-icon {background-image: url('../../Images/icon-maintenance.png');}
.rc-list-view-container .rc-property-info .rc-list-view-info-inner { padding: 1em; }
.rc-list-view-container .rc-property-info .rc-property-image {float: left; margin-right: 1em;}
.rc-list-view-container .rc-property-info .rc-property-image img {width: 100%; }
.rc-list-view-container .rc-property-info .rc-row {width: calc(100% - 200px); display: inline-block; margin: 0; font-size: 10px; font-family: 'montserratlight'; font-weight: 100; }
.rc-list-view-container .rc-property-info .rc-row strong {font-family: 'montserratsemibold'; font-weight: 100; text-transform: uppercase;}
.rc-list-view-container .rc-property-info .rc-row .rc-details-link {font-family: 'montserratsemibold'; font-weight: 100; text-transform: uppercase; color: #eea200; cursor: pointer; }
.rc-list-view-container .rc-property-info.rc-maintenance .rc-row .rc-details-link {color: #eea200;}
.rc-list-view-container .rc-property-info.rc-inspection .rc-row .rc-details-link {color: #00c5ff;}
.rc-list-view-container .rc-property-info.rc-lawn .rc-row .rc-details-link {color: #4fb700;}
.rc-list-view-container .rc-property-info .rc-row .rc-btn {background: none; border: 2px solid #fff; color: #fff; font-size: 10px; border-radius: 20px; margin: 1em 0 0; width: 100%; background: url('../../Images/arrow-white.png') no-repeat 90% center; background-size: 10px 15px; transition: all, 250ms, ease-in; }
.rc-list-view-container .rc-property-info .rc-row .rc-btn:hover {background-color: #3b3b3b; background-image: url('../../Images/arrow-white.png'); }
.rc-list-view-container .rc-property-info .rc-row .rc-btn.rc-blue-btn {border-color: #00c5ff; color: #00c5ff; background-image: url('../../Images/arrow-blue.png');}
.rc-list-view-container .rc-property-info .rc-row .rc-btn.rc-blue-btn:hover {background-color: #00c5ff; color: #fff; background-image: url('../../Images/arrow-white.png');}
.rc-list-view-container .rc-property-info .rc-row .rc-btn.rc-green-btn {border-color: #4fb700; color: #4fb700;background-image: url('../../Images/arrow-green.png'); }
.rc-list-view-container .rc-property-info .rc-row .rc-btn.rc-green-btn:hover {background-color: #4fb700; color: #fff; background-image: url('../../Images/arrow-white.png');}
.rc-list-view-container .rc-property-info .rc-row .rc-btn.rc-orange-btn {border-color: #eea200; color: #eea200; background-image: url('../../Images/arrow-orange.png');}
.rc-list-view-container .rc-property-info .rc-row .rc-btn.rc-orange-btn:hover {background-color: #eea200;  color: #fff; background-image: url('../../Images/arrow-white.png');}

.rc-btn-primary {background: url(../../Images/arrow-white.png) no-repeat 90% center; background-size: 10px 15px; border: 2px solid #00c5ff; border-radius: 20px; text-transform: uppercase; padding: 5px 50px; transition: all, 250ms, ease-in; }
.rc-btn-primary:hover {background: #00c5ff url(../../Images/arrow-white.png) no-repeat 90% center; background-size: 10px 15px; border: 2px solid #00c5ff;}


.rc-modal {position: absolute; width: 100%;}
.rc-modal .rc-modal-dialog {width: 100%; margin: 0; padding: 1em;} 
.rc-modal .rc-modal-content {background: rgba(79,79,81, 1); color: #fff; text-align: center; padding: 4em;}
.rc-modal .rc-modal-header {border: none; padding: 0; }
.rc-modal .rc-modal-header .rc-close {text-shadow: none; color: #fff; font-size: 2.5em; width: 30px; height: 30px; border: 2px solid #fff; border-radius: 50%; position: absolute; top: 5px; right: 5px; opacity: 1;  transition: all, 250ms, ease-in;}
.rc-modal .rc-modal-header .rc-close span {font-weight: 100; height: 100%; width: 100%; display: block; line-height: .55em; font-family: 'montserratthin'; }
.rc-modal .rc-modal-header .rc-close.rc-skip-intro {display: none;font-size: 10px; letter-spacing: .1em; font-family: 'montserratthin'; text-transform: uppercase; width: auto; border-radius: 20px; padding: 5px 35px 5px 20px; background: url(../../Images/arrow-white.png) no-repeat 90% center; background-size: 10px 15px;}
.rc-modal .rc-modal-header .rc-close.rc-show-close {display: block;}
.rc-modal .rc-modal-header .rc-close.rc-hide-close {display: none;}
.rc-modal .rc-modal-body {font-family: 'montserratextralight', arial, sans-serif;padding: 1.25em 4em; }
.rc-modal.rc-modal-step-6 .rc-modal-body {padding: 1.25em 0; }
.rc-modal .rc-modal-body p {font-size: 13px; line-height: 1.5em;}
.rc-modal .rc-modal-body .rc-location-search {border: 2px solid #fff; border-radius: 20px; float: left; }
.rc-modal .rc-modal-body .rc-location-search.rc-dropdown-visible {border-radius: 20px 20px 0 20px}
.rc-modal .rc-modal-body .rc-location-search label {float: left; text-transform: uppercase; border-right: 2px solid #fff; margin: 0; padding: .5em 1em .65em; font-size: 12px; font-weight: 100;}
.rc-modal .rc-modal-body .rc-location-search input[type="text"] {background: none; border: none; width: 240px; float: left; padding: .5em 1em .5em; font-size: 12px; line-height: 1.25em;}
.rc-modal.rc-modal-step-6 .rc-modal-body .rc-btn-primary.rc-submit-btn {padding: 7px 35px 7px 20px; font-size: 12px;}
.rc-modal.rc-modal-step-6 .rc-modal-body .rc-btn-primary.rc-submit-btn[disabled] {background-color: transparent; border-color: #fff; background: url(../../Images/arrow-white.png) no-repeat 90% center; background-size: 10px 15px; opacity: .5;}
.rc-modal .rc-modal-title {font-family: 'montserratthin', arial, sans-serif; font-size: 1.5em; letter-spacing: .06em; }
.rc-modal .rc-modal-footer {padding: 0; border: none; text-align: center;}
.rc-modal .rc-modal-footer .rc-status-bar {padding-left: 0; margin: 0 0 2em; }
.rc-modal .rc-modal-footer .rc-status-bar li {display: inline-block; width: 12px; height: 12px; margin: 0 1em; border: 2px solid #fff; border-radius: 50%; cursor: pointer; }
.rc-modal .rc-modal-footer .rc-status-bar li.rc-active {background: #fff; }
.rc-modal .rc-modal-img {margin: 0 0 2em;}
.rc-modal .rc-modal-img.rc-mobile-only {display: none;}
.modal-backdrop {display: none;}

.rc-modal.fade .rc-modal-dialog {
  -webkit-transform: translate(-25%, 0);
  -ms-transform: translate(-25%, 0);
  transform: translate(-25%, 0);
  -webkit-transition: -webkit-transform 1.2s ease-out;
  -moz-transition: -moz-transform 1.2s ease-out;
  -o-transition: -o-transform 1.2s ease-out;
  transition: transform 1.2s ease-out;
}

.rc-modal.in .rc-modal-dialog { -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.rc-desktop-only {display: block;}
.rc-mobile-only {display: none;}

@-moz-document url-prefix() { 
  .rc-modal .rc-modal-header .rc-close span {line-height: .8em;}
  .rc-modal .rc-modal-body .rc-location-search input[type="text"]  {line-height: 1.5em;}
  .rc-map-container .rc-sidebar .rc-btn .rc-title-text {position: relative; top: 2px;} 
  .rc-map-container .rc-sidebar .rc-btn.rc-white-btn.rc-btn-icon-info {line-height: 1.3em;}
  .rc-modal .rc-modal-header .rc-close.rc-skip-intro { font-weight: 100; padding: 8px 35px 5px 20px;}
  .rc-modal .rc-modal-header .rc-close span {line-height: .85em;}
}
@supports (-ms-ime-align:auto) { 
  .rc-modal .rc-modal-header .rc-close span {line-height: .8em;}
  .rc-modal .rc-modal-body .rc-location-search input[type="text"]  {line-height: 1.5em;}
  .rc-map-container .rc-sidebar .rc-btn .rc-title-text {position: relative; top: 2px;} 
  .rc-map-container .rc-sidebar .rc-btn.rc-white-btn.rc-btn-icon-info {line-height: 1.3em;}
  .rc-modal .rc-modal-header .rc-close.rc-skip-intro { font-weight: 100; padding: 8px 35px 5px 20px;}
  .rc-modal .rc-modal-header .rc-close span {line-height: .85em;}
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .rc-modal .rc-modal-header .rc-close span {line-height: .8em;}
  .rc-modal .rc-modal-body .rc-location-search input[type="text"]  {line-height: 1.5em;}
  .rc-map-container .rc-sidebar .rc-btn .rc-title-text {position: relative; top: 2px;} 
  .rc-map-container .rc-sidebar .rc-btn.rc-white-btn.rc-btn-icon-info {line-height: 1.3em;}
  .rc-modal .rc-modal-header .rc-close.rc-skip-intro { font-weight: 100; padding: 8px 35px 5px 20px;}
  .rc-modal .rc-modal-header .rc-close span {line-height: .85em;}
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input, select, textarea {
        font-size: 16px;
    }
    
}


/**** MOBILE DESIGNS *****/
@media (max-width: 600px) {
input, select, textarea {
    font-size: 16px;
}
.rc-desktop-only {display: none;}
.rc-mobile-only {display: block;} 
    body {position: absolute; width: 100%; height: 100%; }
    .rc-modal-open {overflow: visible;}
    #main {height: 100%; background-image: url('../../Images/mobile-bg.jpg'); }
  #map-canvas {min-height: 100%; }
    .container {height: 100%; border: none;}
  .rc-infowindow-mobile {display: none;}
    .rc-map-container {height: 100%; }
    .rc-map-container .rc-sidebar {width: 100%; padding: 0; top: 0; right: auto; height: auto; border-radius: 0; position: fixed; margin: 0; background: none; box-shadow: 0px 0px 8px rgba(0,0,0,.8); z-index: 5;}
    .rc-map-container .rc-sidebar .rc-btn {width: 33.33%; display: block; margin: 0; float: left; border: none; border-radius: 0; padding: 2em 1em; }
    .rc-map-container .rc-sidebar .rc-btn:hover {background-color: inherit;}
    .rc-map-container .rc-sidebar .rc-btn .rc-icon {display: inline-block; float: none; position: relative; margin-right: 4px; top: 4px;}
    .rc-map-container .rc-sidebar .rc-btn.rc-blue-btn,
    .rc-map-container .rc-sidebar .rc-btn.rc-blue-btn:hover {background: #00c5ff; color: #fff; }
    .rc-map-container .rc-sidebar .rc-btn .rc-icon.rc-inspection-icon {background-image: url('../../Images/icon-inspection-white.png');}
    .rc-map-container .rc-sidebar .rc-btn.rc-green-btn,
    .rc-map-container .rc-sidebar .rc-btn.rc-green-btn:hover {background: #4fb700; color: #fff; }
    .rc-map-container .rc-sidebar .rc-btn .rc-icon.rc-lawn-icon {background-image: url('../../Images/icon-lawn-white.png');}
    .rc-map-container .rc-sidebar .rc-btn.rc-orange-btn,
    .rc-map-container .rc-sidebar .rc-btn.rc-orange-btn:hover {background: #eea200; color: #fff; }
    .rc-map-container .rc-sidebar .rc-btn .rc-icon.rc-maintenance-icon {background-image: url('../../Images/icon-maintenance-white.png');}
    .rc-map-container .rc-sidebar .rc-btn.rc-filter-btn.rc-turned-off {background: #ccc; opacity: 1;}
    .rc-map-container .rc-sidebar-work-order-container {width: 100%; left: 0; top: 0; display: none;}
    .rc-map-container .rc-work-order-drawer {width: 100%; border-radius: 0; top: 4.4em; height: calc(100% - 2em); }
    .rc-map-container .rc-work-order-drawer .rc-image img {width: 100%; }
    .rc-map-container .rc-work-order-drawer .rc-type-title {padding: 1em; font-size: 16px; font-family: 'montserratregular';}
    .rc-map-container .rc-work-order-drawer .rc-type-title .rc-icon {width: 25px; height: 25px; top: 0; background-size: 25px 25px; margin-bottom: -5px;}
    .rc-map-container .rc-work-order-drawer.rc-maintenance .rc-type-title {background: #eea200; color: #fff; }
    .rc-map-container .rc-work-order-drawer.rc-maintenance .rc-type-title .rc-icon {background-image: url('../../Images/icon-maintenance-white-large.png');}
    .rc-map-container .rc-work-order-drawer.rc-inspection .rc-type-title {background: #00c5ff; color: #fff; }
    .rc-map-container .rc-work-order-drawer.rc-inspection .rc-type-title .rc-icon {background-image: url('../../Images/icon-inspection-white-large.png');}
    .rc-map-container .rc-work-order-drawer.rc-lawn .rc-type-title {background: #4fb700; color: #fff; }
    .rc-map-container .rc-work-order-drawer.rc-lawn .rc-type-title .rc-icon {background-image: url('../../Images/icon-lawn-white-large.png');}
    .rc-map-container .rc-work-order-drawer .rc-row {color: #0070cd; padding: 0 2em; font-size: 12px; }
    .rc-map-container .rc-work-order-drawer .rc-row-label {padding-bottom: 0; padding-top: 1em; }
    .rc-map-container .rc-work-order-drawer .rc-row:nth-of-type(odd) {background: none;}
    .rc-map-container .rc-work-order-drawer .rc-row.rc-colored a {color: #0070cd !important; }
    .rc-map-container .rc-work-order-drawer .rc-work-order-close-btn,
    .rc-map-container .rc-work-order-drawer.rc-maintenance .rc-work-order-close-btn,
    .rc-map-container .rc-work-order-drawer.rc-inspection .rc-work-order-close-btn,
    .rc-map-container .rc-work-order-drawer.rc-lawn .rc-work-order-close-btn {background: url('../../Images/close-white-collapse.png') no-repeat center center; width: 22px; height: 13px; background-size: 22px 13px; top: 1.5em; right: 1em;}
    .rc-map-container .rc-work-order-drawer .rc-request-work-btn-container {position: absolute; width: 100%; bottom: 0; padding: 5%; background: url('../../Images/mobile-bg.jpg') no-repeat bottom center; }
    .rc-map-container .rc-work-order-drawer .rc-request-work-btn-container .rc-btn-primary,
    .rc-map-container .rc-work-order-drawer.rc-inspection .rc-request-work-btn-container .rc-btn-primary.rc-blue-btn,
    .rc-map-container .rc-work-order-drawer.rc-lawn .rc-request-work-btn-container .rc-btn-primary.rc-green-btn,
    .rc-map-container .rc-work-order-drawer.rc-maintenance .rc-request-work-btn-container .rc-btn-primary.rc-orange-btn,
    .rc-map-container .rc-work-order-drawer .rc-request-work-btn-container .rc-btn-primary:hover {border-color: #fff; color: #fff; width: 100%; position: static; margin: 0; background: url('../../Images/arrow-white.png') no-repeat 90% center; background-size: 10px 15px;}
    #list-view {height: auto; margin-top: 8.2em;}
    .rc-list-view-container {width: 100%; padding: 0; }
    .rc-list-view-container .rc-property-info {border-radius: 0; margin-bottom: 0; }
    .rc-list-view-container .rc-property-info .rc-list-view-info-inner {position: relative; overflow: hidden; padding-bottom: 6em; }
    .rc-list-view-container .rc-property-info .rc-infowindow-header {color: #fff; background: #eea200; border-radius: 0; font-size: 16px; font-family: 'montserratextralight'; }
    .rc-list-view-container .rc-property-info .rc-infowindow-header.rc-maintenance {background: #eea200; color: #fff;}
    .rc-list-view-container .rc-property-info .rc-infowindow-header.rc-inspection {background: #00c5ff; color: #fff; }
    .rc-list-view-container .rc-property-info .rc-infowindow-header.rc-lawn {background: #4fb700; color: #fff; }
    .rc-list-view-container .rc-property-info .rc-infowindow-header .rc-icon {background-image: url('../../Images/icon-inspection-white-large.png'); width: 25px; height: 25px; background-size: 25px 25px; top: 6px;}
    .rc-list-view-container .rc-property-info .rc-infowindow-header.rc-maintenance .rc-icon {background-image: url('../../Images/icon-maintenance-white-large.png'); }
    .rc-list-view-container .rc-property-info .rc-infowindow-header.rc-inspection .rc-icon {background-image: url('../../Images/icon-inspection-white-large.png'); }
    .rc-list-view-container .rc-property-info .rc-infowindow-header.rc-lawn .rc-icon {background-image: url('../../Images/icon-lawn-white-large.png'); }
    .rc-list-view-container .rc-property-info .rc-property-image {position: absolute; top: 0; left: 0; width: 100%; z-index: 0; }
    .rc-list-view-container .rc-property-info .rc-row {position: relative;z-index: 1; width: 100%; font-size: 12px; font-family: 'montserratsemibold'; color: #0070cd; }
    .rc-list-view-container .rc-property-info .rc-row.rc-request-work-row {padding: 1em 1em 1.75em; background: url('../../Images/mobile-bg.jpg') no-repeat bottom center;  position: absolute; left: 0; bottom: 0; }
    .rc-list-view-container .rc-property-info .rc-row.rc-request-work-row .rc-btn {color: #fff !important; background-image: url('../../Images/arrow-white.png') !important; border-color: #fff !important; }
    .rc-list-view-container .rc-property-info .rc-house-image .rc-row {color: #fff; text-shadow: 0px 0px 5px rgba(0,0,0,.8); }
    .rc-list-view-container .rc-property-info .rc-row strong {display: none;}
    .rc-list-view-container .rc-property-info .rc-row .rc-details-link {color: #0070cd !important;}

    .rc-sidebar.rc-mobile-only .rc-blue-bar .rc-sidebar-location-search input[type="text"] {height: 24px; }
    .rc-sidebar.rc-mobile-only .rc-blue-bar .rc-sidebar-location-search input[type="text"]:focus {font-size: 16px;}

    .rc-scroll-alert-bar {position: fixed; bottom: 0; left: 0; z-index: 2; width: 100%; margin: 0; border-radius: 0; opacity: .9;}

    .rc-modal .rc-modal-header {padding-top: 1em;}
    .rc-modal.rc-modal-step-1 .rc-modal-header {padding-top: 0;}
    .rc-modal .rc-modal-dialog {padding: 0; min-height: 100%; }
    .rc-modal .rc-modal-content {min-height: 100%; position: absolute; background: url('../../Images/mobile-bg.jpg') no-repeat bottom center; background-size: cover; padding: 2em;}
    .rc-modal .rc-modal-body {padding: 1em 0; } 
    .rc-modal .rc-modal-body .rc-location-search {margin-bottom: 2em; width: 100%;}
    .rc-modal .rc-modal-body .rc-location-search label {padding: .65em 1em; font-weight: 100;}
    .android .rc-modal .rc-modal-body .rc-location-search label {padding: .8em 1em .6em; }
    .rc-modal .rc-modal-body .rc-location-search input[type="text"] {padding: .2em 1em; font-size: 16px; }
    .android .rc-modal .rc-modal-body .rc-location-search input[type="text"] {padding: .45em 1em;}
    .rc-modal .rc-modal-img {max-width: 100%;}
    .rc-modal .rc-modal-img.rc-mobile-only {display: inline;}
    .rc-modal .rc-modal-img.rc-desktop-only {display: none;} 
    .rc-modal .rc-modal-title {font-size: 17px; font-family: 'montserratsemibold'; }
    .rc-modal .rc-modal-body p {font-size: 14px; font-family: 'montserratlight'; }
    .rc-modal .rc-modal-footer .rc-status-bar li {width: 8px; height: 8px; margin: 0 .25em; background: #fff; opacity: .25;}
    .rc-modal .rc-modal-footer .rc-status-bar li.rc-active {opacity: 1;}
    .rc-modal .rc-modal-header .rc-close {display: none;}
    .rc-modal .rc-modal-header .rc-close.rc-skip-intro {display: block; top: auto; bottom: 1em; left: 50%; margin-left: -30px; right: auto; padding: .5em 0; border: none; background: none;}
    .rc-modal .rc-modal-footer .rc-status-bar {margin: 0 0 1em;}
    .rc-modal .rc-modal-body .rc-location-search input[type="text"] {width: calc(100% - 90px);}
    .pac-container {margin-left: -2px; width: 230px !important;}
}



